{% extends "base.html" %}

{% block content %}
<div class="page-title">
    <h1>Customer Report </h1>
    <div class="print-button">
        <input type="button" value="Print this page" onClick="window.print()">
    </div>
</div>
<p><strong>Name:</strong> {{ customer.name }}</p>
<p><strong>Address:</strong> {{ customer.address }}</p>
<p><strong>Phone:</strong> {{ customer.phone }}</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Equipment</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Total Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for index, item in rents %}
        <tr>
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ item.equipment.name }}</td>
            <td>{{ item.start_date.strftime('%d %b %Y') }}</td>
            <td>{{ item.end_date.strftime('%d %b %Y') }}</td>
            <td>$ {{ item.total_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}