{% extends "base.html" %}

{% block content %}
<form method="POST">
    <input type="hidden" name="id" value="{{ equipment.id }}">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" value="{{ equipment.name }}">
    </div>
    <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" class="form-control" name="manufacturer" value="{{ equipment.manufacturer }}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description">{{ equipment.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="rent">Rent</label>
        <input type="number" step=".1" class="form-control" name="rent" value="{{ equipment.rent }}">
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" name="quantity" value="{{ equipment.quantity }}">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}